Source: furios-apt-config
Maintainer: Bardia Moshiri <fakeshell@bardia.tech>
Section: misc
Priority: optional
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.5.0.3
Vcs-Browser: https://github.com/furilabs/furios-apt-config
Vcs-Git: https://github.com/furilabs/furios-apt-config.git

Package: furios-apt-config
Architecture: all
Pre-Depends: apt
Depends: ${misc:Depends}
Description: APT configurations for FuriOS
 This package contains various APT configurations and Pins
 for FuriOS.

Package: furios-apt-config-staging
Architecture: all
Pre-Depends: apt
Depends: ${misc:Depends}
Description: APT configurations for FuriOS (staging)
 This package contains various APT configurations and Pins
 for FuriOS.
 .
 This packages allows to track FuriOS-staging.

Package: furios-apt-config-krypton
Architecture: all
Pre-Depends: apt
Depends: ${misc:Depends}
Description: APT configurations for FuriOS (krypton)
 This package contains various APT configurations and Pins
 for FuriOS.
 .
 This packages allows to track krypton device repo.

Package: furios-apt-config-debian-staging
Architecture: all
Pre-Depends: apt
Depends: ${misc:Depends}
Description: APT configurations for FuriOS (debian-staging)
 This package contains various APT configurations and Pins
 for FuriOS.
 .
 This packages allows to track FuriOS-staging debian repo.
