Source: furios-apt-config
Maintainer: Bardia Moshiri <fakeshell@bardia.tech>
Section: misc
Priority: optional
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.7.2
Vcs-Browser: https://github.com/furilabs/furios-apt-config
Vcs-Git: https://github.com/furilabs/furios-apt-config.git

Package: furios-apt-config
Architecture: all
Pre-Depends: apt
Depends: ${misc:Depends}
Description: APT configurations for FuriOS
 This package contains various APT configurations and Pins
 for FuriOS.

Package: furios-apt-config-staging
Architecture: all
Pre-Depends: apt
Depends: ${misc:Depends}
Description: APT configurations for FuriOS (staging)
 This package contains various APT configurations and Pins
 for FuriOS.
 .
 This packages allows to track FuriOS-staging.

Package: furios-apt-config-sync
Architecture: all
Pre-Depends: apt
Depends: ${misc:Depends}
Description: APT configurations for FuriOS (sync)
 This package contains various APT configurations and Pins
 for FuriOS.
 .
 This packages allows to track sync repo.

Package: furios-apt-config-sync-staging
Architecture: all
Pre-Depends: apt
Depends: ${misc:Depends}
Description: APT configurations for FuriOS (sync-staging)
 This package contains various APT configurations and Pins
 for FuriOS.
 .
 This packages allows to track sync-staging repo.

Package: furios-apt-config-krypton
Architecture: all
Pre-Depends: apt
Depends: furios-apt-config-sync
Description: APT configurations for FuriOS (krypton)
 This package contains various APT configurations and Pins
 for FuriOS.
 .
 This packages allows to track krypton device repo.
 .
 This is a transitional package that can be removed.

Package: furios-apt-config-krypton-staging
Architecture: all
Pre-Depends: apt
Depends: furios-apt-config-sync-staging
Description: APT configurations for FuriOS (krypton-staging)
 This package contains various APT configurations and Pins
 for FuriOS.
 .
 This packages allows to track krypton-staging device repo.
 .
 This is a transitional package that can be removed.

Package: furios-apt-config-debian-staging
Architecture: all
Pre-Depends: apt
Depends: ${misc:Depends}
Description: APT configurations for FuriOS (debian-staging)
 This package contains various APT configurations and Pins
 for FuriOS.
 .
 This packages allows to track FuriOS-staging debian repo.

Package: furios-apt-config-debian-debug
Architecture: all
Pre-Depends: apt
Depends: ${misc:Depends}
Description: APT configurations for FuriOS (debian-debug)
 This package contains various APT configurations and Pins
 for FuriOS.
 .
 This packages allows to track FuriOS debian debug repo.

Package: furios-apt-config-debian-debug-staging
Architecture: all
Pre-Depends: apt
Depends: ${misc:Depends}
Description: APT configurations for FuriOS (debian-debug-staging)
 This package contains various APT configurations and Pins
 for FuriOS.
 .
 This packages allows to track FuriOS-staging debian debug repo.
